/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('../../static/img/cube-hero-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@media screen and (max-width: 1800px) {
  .heroBanner {
    transition: 1s;
    text-align: center;
    text-align: l;
    padding: 2rem;
    background-image: url('../../static/img/cube-hero-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 918px) {
  .heroBanner {
    transition: 0.5s;
    padding: 2rem;
    background-image: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarContainer {
  margin-top: 2rem;
  width: 100%;
  max-width: 650px;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 1800px) {
  .searchBarContainer {
    margin-left: auto;
  }
}

.searchBarContainer input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 20px;
}

.searchBarContainer :global(.DocSearch-Button) {
  width: 100%;
  height: 40px;
  background-color: #E9F6FA;
  border: 2px solid #4CC6F1;
}

.searchBarContainer :global(.DocSearch-Button-Placeholder) {
  font-size: 1rem;
}


