.siteMap {
  padding: 2rem 0;
  background-color: var(--ifm-background-color);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.categorySection {
  flex: 1 1 calc(50% - 1rem);
  background-color: var(--category-block-color);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--category-block-shadow);
}

.categorySection.fullWidth {
  flex-basis: 100%;
}

.categoryHeader {
  color: var(--category-title-color);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.categorySubheader {
  color: var(--category-title-color);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  opacity: 0.8;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 calc(50% - 0.5rem);
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  background-color: var(--category-card-color);
}

.card:hover, .card:focus {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.cardImage {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--category-title-color)
}

.cardDescription {
  font-size: 0.9rem;
  text-align: center;
  color: var(--ifm-color-emphasis-700);
}

@media (max-width: 1200px) {
  .categorySection {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }

  .cardImage {
    width: 50px;
    height: 50px;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardDescription {
    font-size: 0.8rem;
  }
}