[submodule "song"]
	path = song
	url = https://github.com/overture-stack/score.git
	branch = songDevDocs
[submodule "score"]
	path = score
	url = https://github.com/overture-stack/score.git
[submodule "Maestro"]
	path = maestro
	url = https://github.com/overture-stack/maestro.git
[submodule "Arranger"]
	path = arranger
	url = https://github.com/overture-stack/arranger.git