[submodule "submodules/score"]
	path = submodules/score
	url = https://github.com/overture-stack/score.git
[submodule "submodules/song"]
	path = submodules/song
	url = https://github.com/overture-stack/song.git
[submodule "submodules/arranger"]
	path = submodules/arranger
	url = https://github.com/overture-stack/arranger.git
[submodule "submodules/stage"]
	path = submodules/stage
	url = https://github.com/overture-stack/stage.git
[submodule "submodules/maestro"]
	path = submodules/maestro
	url = https://github.com/overture-stack/maestro.git
[submodule "submodules/.github"]
	path = submodules/.github
	url = https://github.com/overture-stack/.github.git
[submodule "submodules/lectern"]
	path = submodules/lectern
	url = https://github.com/overture-stack/lectern
[submodule "submodules/lyric"]
	path = submodules/lyric
	url = https://github.com/overture-stack/lyric
