.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}

.primary {
  background: var(--ifm-color-primary-dark);
}

.primary:hover {
  background: var(--ifm-color-primary-darkest);
  text-decoration: none;
  color: white;
}
  
.secondary {
  background: var(--ifm-color-primary-dark);
}

.secondary:hover {
  background: var(--ifm-color-primary-darkest);
  text-decoration: none;
  color: white;
}
  
.small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
}
